<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        <h3 style="margin: 0px">Table4U</h3>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made by Hashn Liyanage
            <a href="https://www.creative-tim.com" target="_blank">Table4U</a> Makes Your Life Easir
        </div>
    </div>
</footer>
