<!--<section class="showcase">-->
<!--    <img src="https://images.unsplash.com/photo-1505410603994-c3ac6269711f?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Picture">-->
<!--    <img src="'https://i.ibb.co/LnHL5x0/showcase.jpg'" alt="Picture">-->
<!--    <div class="overlay">-->
<!--        <div class="row pr-0">-->
<!--            <div class="col-lg-12 pr-0">-->
<!--                <h2>TITLE TITLE TITLE</h2>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="row pr-0">-->
<!--            <div class="col-lg-12 pr-0">-->
<!--                <p>-->
<!--                    Hello Everyone , this is just simple overlay , without using background-image property in css-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="row pr-0">-->
<!--            <div class="col-lg-4 pr-0">-->
<!--&lt;!&ndash;                <button class="button button&#45;&#45;moema button&#45;&#45;border-thick button&#45;&#45;size-s" (click)="goTableReservationPage()">Reserve Your Table</button>&ndash;&gt;-->
<!--            </div>-->
<!--            <div class="col-lg-4 pr-0" style="text-align: center">-->
<!--                <button class="button button&#45;&#45;moema button&#45;&#45;border-thick button&#45;&#45;size-s" (click)="goTableReservationPage()">Reserve Your Table</button>-->
<!--            </div>-->
<!--            <div class="col-lg-4 pr-0">-->
<!--&lt;!&ndash;                <button class="button button&#45;&#45;moema button&#45;&#45;border-thick button&#45;&#45;size-s" (click)="goTableReservationPage()">Reserve Your Table</button>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--</section>-->

<header>


    <div class="hero">
        <h1>THE CRUNCHY ROLL</h1>
        <div class="button-awesome">
            <a (click)="goTableReservationPage()" class="btn btn-half">Reserve Your Table</a>

        </div>
    </div>


</header>


